.container {
  width: 1200px;
  height: 600px;
  background: #fdde7e;
  margin: 80px auto;
  display: flex;
  align-items: center;
  position: relative;
}

.side_element {
  width: 360px;
  height: 440px;
  background: #ffffff;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center_element {
  width: 360px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}

section {
  font-family: "Lato", sans-serif;
  margin-top: 38px;
}

h2 {
  text-align: center;
  font-size: 40px;
}
section p {
  font-size: 18px;
  text-align: center;
  line-height: 1.3;
  opacity: 0.7;
  margin-top: 20px;
}
.price p {
  font-family: "Oxygen Mono", monospace;
  font-size: 70px;
  font-weight: bold;
  color: #02995b;
}

.price {
  margin-top: 45px;
  margin-bottom: 25px;
}
.center_element .price {
  margin-top: 52px;
  margin-bottom: 44px;
}

.center_element section p {
  margin-top: 35px;
}

.smile {
  width: 80px;
  height: 80px;
  background: rgb(128, 128, 128, 0.6);
  border: 3px solid #30b2b4;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  position: absolute;
  right: 400px;
  top: 35px;
  font-size: 34px;
}
